<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName></ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion10</DictionaryVersion><CFCMappings><MappingName>chilicfcs</MappingName><Path>C:\ColdFusion10\cfusion\wwwroot\chilipos\entity</Path></CFCMappings></ResourceDetails>