<html>
<ul style="float:left" >  
   		  <li ><a href="../SetGroups">Manage Groups</a></li>
   		  <li ><a href="../SetFormula">Manage Formulas</a></li>
   		  <li ><a href="../EmployeeList">Employee List</a></li>
   		  
   		  <!---
   		  
   		  <li ng-if="level<=1"><a  href="/Upload">Upload</a></li>
   		  <li ng-if="level<=2"><a  href="/Inventory">Inventory</a></li>
		  <li ng-if="level<=2"><a  href="/ProductControl">Order Control</a></li>
		  <li ng-if="level<=2"><a  href="/DoorCount">Store Traffic</a></li>
		  <li ng-if="level<=2"><a  href="/OrderCycle">Order Cycle</a></li>
		  <li ng-if="level<=1"><a  href="/Stores">Stores</a></li>
		  <li ng-if="level<=1"><a  href="/Activations">Activations</a></li>
		  <li ng-if="level<=1"><a  href="/Comm">Commission</a></li>
		  <li ng-if="level<=1"><a  href="/MTDEmp">Employee</a></li>
		<li ><a  href="/Login">Login</a></li>   
		--->
		</ul>
		</html>