

<div>
  Search
  
  <div " style="position: fixed;right: 100">
  	
  	
  	{{productList[imeisearch].name}}
  	<div ng-repeat="phone in productList[imeisearch].inventory">
	  			
	  		{{phone.inventoryid}}--{{phone.store}}
	  	
  	</div>
  	
  </div>
  <input ng-model="typer">
  </input>
    
   
  <table >
  	<tr>
  		
  	<td><b>SKU </b></td>
  	<td><b>ITEM </b></td>
    <td><b>Halifax</b></td>	
    <td><b>Bridgewater </b></td>
  	<td><b>Franklin  </b></td>
  
    
    </tr>
  <tr  ng-repeat="x in inventory.listOfModels | filter:orderBy:'toString()'" ng-if="!productList[$index]['hidden']" >
  	<td>{{ x[0]}}</td>
    <td><div ng-click="setIMEI($index)">{{x[1]}}</div> </td>
    <td>{{ x[2][0]}}</td>
    <td>{{x[2][1]}}</td>
    <td>{{ x[2][2]}}</td>
    
    
   
  </tr>
   
</table>
</div>


<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
