<title>
	Green Chili
</title>



<ul >
	<li class ="b">
	 	 <form action="/components/form.cfm" enctype="multipart/form-data" method="post">
 Detail Report
    <input type="file" name="rq4file" />
    Payment Type Audit
     <input type="file" name="finfile" />
    <input type="submit" value="Submit" name="submit" />
</form> 

	</li>
	<p>
		
		
	</p>
	<li class="b">
	 	 <form action="/components/inventoryform.cfm" enctype="multipart/form-data" method="post">
 Inventory
    <input type="file" name="inventoryfile"/>
    
    <input type="submit" value="Submit" name="submit" />
</form> 
		</li>
		
		<li class="b">
			
	 	 <form action="/components/commsheetform.cfm" enctype="multipart/form-data" method="post">
 Comm Sheet File
    <input type="file" name="commsheetfile"/>
    
    <input type="submit" value="Submit" name="submit" />
</form> 
		</li>
		
	
</ul>
		
	</form>
	